<!DOCTYPE html>



<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>fsdfsd</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="js/peticion.js"></script>
    </head>
    <body>
        <header>
            <div class="alert alert-info">
                <h2>Buscador en Tiempo Real con AJAX </h2>
            </div>
        </header>
        <section>
            <input type="text" name="busqueda" id="busqueda" placeholder="Buscar...">
        </section>

        <section id="tabla_resultado">
            <!-- AQUI SE DESPLEGARA NUESTRA TABLA DE CONSLTA -->
        </section>
    </body>
</html>

    <?php
        require 'header.php';
    ?>